body{
  background-color: #121212;  
}

#parent {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-size: 28px;
  color: rgba(0,0,255,.70);
  margin: 0 auto;
}

/* Animation */
#parent {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

h1 {
  font-size: 250%;
  color:#3e966f;
  position:absolute;
  bottom:0px;
  right:0px;
  margin:0px;
}

.desc {
  color: #606060;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 700px;
  line-height: 1.5;
}